body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4f4f4;
display: flex;
justify-content: center;
}


.app {
margin-top: 30px;
text-align: center;
}


.game {
display: flex;
align-items: flex-start;
margin: 0 auto;
}


.board {
width: 560px;
height: 560px;
display: flex;
flex-wrap: wrap;
background: #222;
border-radius: 10px;
padding: 5px;
}


.candy {
width: 70px;
height: 70px;
border-radius: 50%;
cursor: pointer;
}


.score {
font-size: 24px;
color: #fff;
margin-bottom: 10px;
margin-right: 20px;
background: #333;
padding: 10px;
border-radius: 10px;
border: 2px solid #555;
flex-shrink: 0;
}