body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4f4f4;
display: flex;
justify-content: center;
}


.app {
margin-top: 30px;
text-align: center;
}


.game {
width: 560px;
height: 560px;
display: flex;
flex-wrap: wrap;
background: #222;
border-radius: 10px;
padding: 5px;
margin: 0 auto;
}


.candy {
width: 70px;
height: 70px;
border-radius: 50%;
cursor: pointer;
}


.score {
font-size: 24px;
color: #fff;
margin-bottom: 10px;
}